<!doctype html>
        <html lang="en">
            <head>
                <meta charset = "utf-8"></meta>
                <title>startPage</title>
                <style type="text/css">
                       h1 { 
                            font-size: 1cm; 
                            font-family: Verdana, Arial, Helvetica, sans-serif; 
                            color: #333366;
                        }
                        h2 { 
                            font-size: 0.7cm; 
                            font-family: 'Courier New', Courier, monospace; 
                            color: #2b4bb4a9;
                        }

                </style>
            </head>
            <body>
                <h1>Задание выполнил: Максим Вахрушев</h1>
                <h2>Проверка пользователей Windows</h2>
                <form method = "post">
                    <input type="text" name="user">
                    <button type="submit">Подтвердить</button>
                </form>
                <p><img src="logo.png" width="100" height="100" alt="Логотип"></p>
            </body>  
        </html>
