<!doctype html>
        <html lang="en">
            <head>
                <meta charset = "utf-8"></meta>
                <title>submitPage</title>
                <style type="text/css">
                       h1 { 
                            font-size: 1cm; 
                            font-family: Verdana, Arial, Helvetica, sans-serif; 
                            color: #333366;
                        }
                </style>
            </head>
            <body>
                <h1>Пользователь есть</h1>
                <a href = '/'>Вернуться</a>
            </body>  
        </html>